Gmail Inbox Manager & Classifier.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-from:me is:unread"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -2688,
        3248
      ],
      "id": "50227a46-1d40-447d-a28b-d0a8a16947e9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's first name from this email. If no name is found, return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an advanced extraction tool. Only pull out the relevant details from the text. If you're unsure about the value of any requested attribute, leave it as an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -2464,
        3248
      ],
      "id": "4f973db3-345f-4588-bbe0-608b4579d611",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1a2b3c4-cond-0001-cond-000000000001",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        3248
      ],
      "id": "8cb45bc4-254d-4fe9-abc4-5ff0d399924d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-ef01-ef01-ef01-ef0100000001",
              "name": "intro",
              "value": "=Dear {{ $json.output.senderName }},",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        3104
      ],
      "id": "b5fc384d-c745-4902-a8af-60aa48ea32ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-ef02-ef02-ef02-ef0200000002",
              "name": "intro",
              "value": "Hi,",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1776,
        3392
      ],
      "id": "5001e7c8-2637-4bda-b6a9-3c7c6c6a6b8e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1408,
        3232
      ],
      "id": "b5ac9d9b-f5ee-4fe9-914b-ae5aa2e3ab1f",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1a2b3c4-cd01-cd01-cd01-cd0100000001",
              "name": "message_id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd02-cd02-cd02-cd0200000002",
              "name": "intro",
              "value": "={{ $json.intro }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd03-cd03-cd03-cd0300000003",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd04-cd04-cd04-cd0400000004",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd05-cd05-cd05-cd0500000005",
              "name": "sender_name",
              "value": "={{ $('Gmail Trigger').item.json.from.value[0].name || $('Information Extractor').item.json.output.senderName || '' }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd06-cd06-cd06-cd0600000006",
              "name": "sender_email",
              "value": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd07-cd07-cd07-cd0700000007",
              "name": "subject",
              "value": "={{ $('Gmail Trigger').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "f1a2b3c4-cd08-cd08-cd08-cd0800000008",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        3232
      ],
      "id": "07f252fa-72ce-4273-9fac-92f4c295b93f",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "College Academic",
              "description": "Emails from Government Polytechnic Mumbai, faculty members, timetable updates, exam schedules, diploma assignment submissions, college notices, and academic related communication."
            },
            {
              "category": "Internship Work",
              "description": "Emails related to GigaWebZone LLP, client project updates, task assignments, work deliverables, professional team communication, internship-related work."
            },
            {
              "category": "Opportunities",
              "description": "Job offers, internship calls, hackathon invitations, tech competitions, coding contests, tech events, freelance project inquiries, scholarship opportunities."
            },
            {
              "category": "Tech Learning",
              "description": "Infosys Springboard course updates, certification emails, tech newsletters, online learning platform notifications, new tutorials, webinar invitations, tech community updates."
            },
            {
              "category": "Others",
              "description": "Emails that do not clearly fit into College Academic, Internship Work, Opportunities, or Tech Learning categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -864,
        3232
      ],
      "id": "a9463462-c59f-427b-be8b-531f2bb8c758",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_6696760995030341011"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        2960
      ],
      "id": "94d1655e-3381-4f0c-8f13-6ba793fee6c8",
      "name": "Label: College Academic1",
      "webhookId": "f1a2b3c4-wh11-wh11-wh11-wh1100000011",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_4806295856621978751"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        3120
      ],
      "id": "c5273488-3e04-4e93-a15c-508427fcd940",
      "name": "Label: Internship Work1",
      "webhookId": "f1a2b3c4-wh12-wh12-wh12-wh1200000012",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_5313453860605643007"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        3280
      ],
      "id": "7535a4ee-342a-4285-b1ba-5e9b1d8ba023",
      "name": "Label: Opportunities1",
      "webhookId": "f1a2b3c4-wh13-wh13-wh13-wh1300000013",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2825565545702902673"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        3440
      ],
      "id": "515d7092-06e0-4805-b2e2-fdf384e41ba3",
      "name": "Label: Tech Learning1",
      "webhookId": "f1a2b3c4-wh14-wh14-wh14-wh1400000014",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_9041151070102355658"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -240,
        3680
      ],
      "id": "0d02a841-eb73-48da-90ee-0f20887c9863",
      "name": "Label: Others1",
      "webhookId": "f1a2b3c4-wh15-wh15-wh15-wh1500000015",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Clean Data').item.json.message_id }}",
        "emailType": "text",
        "message": "={{ $('Clean Data').item.json.intro }}\n\nThank you for reaching out regarding academic matters. I have received your email and will carefully review the details.\n\nI'll get back to you within the next 24 hours with the required information or clarification. If your request is urgent, please feel free to follow up.\n\nBest regards,\nRushikesh Thakare\nDiploma in Computer Science Engineering\nGovernment Polytechnic, Mumbai\nwww.rushikeshthakare.in",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        2960
      ],
      "id": "cd3f7608-19c9-45fe-8f46-d6f9ec9a8f3c",
      "name": "Reply: College Academic1",
      "webhookId": "f1a2b3c4-wh16-wh16-wh16-wh1600000016",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Clean Data').item.json.message_id }}",
        "emailType": "text",
        "message": "={{ $('Clean Data').item.json.intro }}\n\nThank you for reaching out! I appreciate your message and have successfully received it.\n\nI am currently reviewing your email and will respond within the next 24 hours with further details. In the meantime, you can explore my work and projects on my portfolio.\n\nBest regards,\nRushikesh Thakare\nWeb Developer & AI Engineer Intern\nGigaWebZone LLP | www.rushikeshthakare.in",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        3120
      ],
      "id": "52be332e-beae-4408-b7ee-d45810e03c27",
      "name": "Reply: Internship Work1",
      "webhookId": "f1a2b3c4-wh17-wh17-wh17-wh1700000017",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Clean Data').item.json.message_id }}",
        "emailType": "text",
        "message": "={{ $('Clean Data').item.json.intro }}\n\nThank you for sharing this opportunity! I truly appreciate you considering me.\n\nI have received your email and will review the details carefully. I will get back to you shortly with my response or any additional information required.\n\nBest regards,\nRushikesh Thakare\nWeb Developer & AI Engineer\nwww.rushikeshthakare.in",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        3280
      ],
      "id": "94b9455c-97d6-45f9-b647-de9215646b39",
      "name": "Reply: Opportunities1",
      "webhookId": "f1a2b3c4-wh18-wh18-wh18-wh1800000018",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Clean Data').item.json.message_id }}",
        "emailType": "text",
        "message": "={{ $('Clean Data').item.json.intro }}\n\nThank you for your email! I'm glad you reached out.\n\nI have received your message and will go through it carefully. I will follow up shortly with a detailed response.\n\nBest regards,\nRushikesh Thakare\nComputer Engineering Student & AI Enthusiast\nwww.rushikeshthakare.in",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        3440
      ],
      "id": "7775b47c-1361-4363-8154-e02e5b9a398c",
      "name": "Reply: Tech Learning1",
      "webhookId": "f1a2b3c4-wh19-wh19-wh19-wh1900000019",
      "credentials": {
        "gmailOAuth2": {
          "id": "1sZnrkK8cJjjgh0C",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        3184
      ],
      "id": "c5a09109-ff4b-4c6b-8dc9-acd5047d6a0d",
      "name": "Merge3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8",
          "mode": "list",
          "cachedResultName": "Emain_Automation_Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sender Name": "={{ $('Clean Data').item.json.sender_name }}",
            "Sender Email": "={{ $('Clean Data').item.json.sender_email }}",
            "Subject": "={{ $('Clean Data').item.json.subject }}",
            "Timestamp": "={{ $('Clean Data').item.json.timestamp }}",
            "Category": "={{ $('Text Classifier').item.json.category }}",
            "Reply Sent": "={{ $('Text Classifier').item.json.category === 'Others' ? 'No' : 'Yes' }}",
            "Message ID": "={{ $('Clean Data').item.json.message_id }}",
            "Thread ID": "={{ $('Clean Data').item.json.threadId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Sender Name",
              "displayName": "Sender Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reply Sent",
              "displayName": "Reply Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message ID",
              "displayName": "Message ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Thread ID",
              "displayName": "Thread ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        3184
      ],
      "id": "5da84eb7-ec4c-4ecc-9eb4-ed589889a557",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1Pe2zvHcmgq9cv7X",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 19
            }
          ]
        }
      },
      "id": "273936e6-dc6e-46fe-a054-130012b42884",
      "name": "Daily Trigger (9PM)1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -2096,
        3888
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8",
          "mode": "list",
          "cachedResultName": "Emain_Automation_Records",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1A5iS7yACYhSz0FNY8IJKVUSJhU9T5b2LXg8niyPZTx8/edit#gid=0"
        },
        "options": {}
      },
      "id": "750245a1-3445-41ff-a9bb-4528ec334e43",
      "name": "Read Google Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1904,
        3888
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1Pe2zvHcmgq9cv7X",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const now = new Date();\nconst yesterday = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\nconst recentEmails = items.filter(item => {\n  const ts = item.json.Timestamp;\n  if (!ts) return false;\n  try {\n    const emailDate = new Date(ts);\n    return emailDate >= yesterday;\n  } catch(e) {\n    return false;\n  }\n});\n\nif (recentEmails.length === 0) {\n  return [{ json: { text: '\\u{1F4EB} Daily Email Report\\n\\nNo emails processed in the last 24 hours.' } }];\n}\n\nconst categoryCounts = {};\nrecentEmails.forEach(item => {\n  const cat = item.json.Category || 'Unknown';\n  categoryCounts[cat] = (categoryCounts[cat] || 0) + 1;\n});\n\nlet summary = `\\u{1F4E7} Daily Email Report\\n`;\nsummary += `\\u{1F4C5} ${new Date().toLocaleDateString('en-IN', { day: '2-digit', month: 'short', year: 'numeric' })}\\n`;\nsummary += `\\u{23F0} Last 24 hours\\n`;\nsummary += `\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\n\\n`;\n\nrecentEmails.forEach((item, i) => {\n  const senderDisplay = item.json['Sender Name'] ? item.json['Sender Name'] : (item.json['Sender Email'] || 'Unknown');\n  summary += `${i + 1}. ${item.json.Subject || 'No Subject'}\\n`;\n  summary += `   \\u{1F464} ${senderDisplay}\\n`;\n  summary += `   \\u{1F3F7} ${item.json.Category || 'Uncategorized'}\\n`;\n  summary += `   \\u{21A9} Reply: ${item.json['Reply Sent'] || 'No'}\\n\\n`;\n});\n\nsummary += `\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\u{2500}\\n`;\nsummary += `\\u{1F4CA} Total: ${recentEmails.length} email(s)\\n\\n`;\n\nconst catLines = Object.entries(categoryCounts).map(([cat, count]) => `  ${cat}: ${count}`).join('\\n');\nsummary += `\\u{1F4C1} By category:\\n${catLines}`;\n\nreturn [{ json: { text: summary } }];"
      },
      "id": "9a47600c-9814-40df-801c-ebd3ddeba55f",
      "name": "Format Summary1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1616,
        3888
      ]
    },
    {
      "parameters": {
        "chatId": "8257797131",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "f5e09137-dfc1-425f-99f9-9c5e9fbe8a8a",
      "name": "Send Telegram Message1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -1296,
        3888
      ],
      "webhookId": "9976518d-bc4c-42ed-8db8-8ed9fd5457a4",
      "credentials": {
        "telegramApi": {
          "id": "FnzmK6iq7UFswKtT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.6-plus-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2448,
        3456
      ],
      "id": "b2227e39-c889-42b0-b3ea-657f42390b15",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "K9s2GWyrVHwJZXuq",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen/qwen3.6-plus-preview:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -848,
        3520
      ],
      "id": "d1d19f2a-37eb-4882-b546-15535eee3346",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "K9s2GWyrVHwJZXuq",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Label: College Academic1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Internship Work1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Opportunities1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Tech Learning1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label: Others1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: College Academic1": {
      "main": [
        [
          {
            "node": "Reply: College Academic1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Internship Work1": {
      "main": [
        [
          {
            "node": "Reply: Internship Work1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Opportunities1": {
      "main": [
        [
          {
            "node": "Reply: Opportunities1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Tech Learning1": {
      "main": [
        [
          {
            "node": "Reply: Tech Learning1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Label: Others1": {
      "main": [
        []
      ]
    },
    "Reply: College Academic1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply: Internship Work1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Reply: Opportunities1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reply: Tech Learning1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger (9PM)1": {
      "main": [
        [
          {
            "node": "Read Google Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet1": {
      "main": [
        [
          {
            "node": "Format Summary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Summary1": {
      "main": [
        [
          {
            "node": "Send Telegram Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aefb733672a8a8893a673366d3a8a4dfe27ebe63ac164920780f782e292b8031"
  }
}
